#canvas{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
}

#reset {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;

    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #7D8698;

    background-color: #C9D1E4;
    color: #1C1E22;
    font-size: 15px;
}

#reset:hover {
    background-color: #95A0B6;
    cursor: pointer;
}